.container{
    margin-right: 3rem;
    margin-left:3rem;
    margin-bottom: 10rem;
}
.headerDivider{
    margin-top: 6rem;
}
.paymentInformation{
    display: flex;
    justify-content: space-between;
}
.paymentSummaryDivider{
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .paymentInformation{
        flex-direction: column;
    }
}