header{
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.header_links{
    display: flex;
    justify-content: space-between;
    flex-basis: 30rem;
    position: relative;
    top: 1.5rem;


    a{
        text-decoration: none;
        color: rgb(70,75,95);
        font-size: 22px;
        font-weight: bolder;
    }
}
img{
    margin-left: 2rem;
}

@media screen and (max-width: 500px) {
    header{
        justify-content: center;
    }
    .header_links{
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 30rem;
        
    }
    img{
        width: 5rem;
        height: 5rem;
    }
}
